<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="../../css/homeemail.css">
        <%- style %>   
    </head>

    <body>
        <%- include('_header'); %>
        <main id="layout">
            <%- body %>

        </main>


        <%- include('_footer'); %>

        <%- script %>  
    </body>
</html>